html {
  height: 100%;
  width: 100%;
  overflow-x: clip;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0px;

  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: column;
  overflow-x: clip;
}
main {
  flex: 1;
  background-color: black;
  background-image: url(https://t3.ftcdn.net/jpg/02/85/90/90/240_F_285909049_R7giCxSP6YGGWFFNWzkTgvqwBEgQJ3vb.jpg);
}
.navbar {
  margin: 0;
  padding: 0;
  width: 100%;

  background-color: rgba(100, 149, 237, 0.97);
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 20px;
  flex: nowrap;
}
.navbar a {
  text-decoration: none;
  color: black;
  transition: all 1s;
  text-wrap: nowrap;
}

.navbar a:hover {
  color: green;
  transition: all 0.3s;
}
.navbar div img {
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin-right: 10px;
}

.hero {
  width: 100%;
  background: rgba(82, 82, 82, 0.98);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.hero p {
  width: 40%;
  min-width: 300px;
  text-align: center;
  margin-bottom: 30px;
  color: rgb(197, 193, 185);
}
.hero img {
  width: 25%;
  min-width: 300px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 2px rgb(0, 0, 0, 0.5);
}

main div {
  justify-items: center;
  /*background-color: rgba(50, 194, 191, 0.5);*/
}

.projects {
  width: 100%;
  height: 100%;
  /*background-color: rgba(50, 194, 191, 0.5);*/
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  padding-bottom: 60px;
}

.projects p {
  font-size: 15px;
}
.projects-box p {
  margin-bottom: 55px;
  color: rgb(209, 200, 188);
}
.projects-box {
  background-color: rgba(38, 102, 92, 0.955);
}

.card {
  width: 20%;
  height: 20%;
  opacity: 75%;
  max-width: 400px;
  min-width: 250px;

  background-color: beige;
  border: solid rgb(0, 0, 0, 0.25) 5px;
  border-radius: 15px;
  flex-direction: column;
  flex-shrink: inherit;
  padding: 10px;
  padding-bottom: 10px;
  text-align: center;
  box-shadow: 0px 10px 10px 2px rgb(0, 0, 0, 0.2);
  transition: all 1s ease;
}

.card p {
  color: black;
}
div.card {
  overflow-y: hidden;
}
.card:hover {
  transform: scale(1.05);
  filter: brightness(1.4);
  cursor: pointer;
}

.projects img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 30% 30%;
  border-radius: 15px;
}

footer {
  display: flex;
  opacity: 90%;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(58, 69, 91, 0.9);
}

footer h4 {
  font-size: 0.8vm;
}

.company-name {
  font-size: 10vw;
  justify-items: left;
  margin-left: 20px;
  width: 30%;
  text-wrap: nowrap;
}

.company-name h3 {
  font-size: 0.85vw;
}
.standard-links {
  display: flex;
  width: 30%;
}

.standard-links h4 {
  font-size: clamp(0.2rem, 0.9vw, 0.8rem);
}

.standard-links a {
  display: flex;
  justify-content: center;
  width: 110px;
  text-decoration: none;
  color: black;
  transition: all 1s;
  text-wrap: nowrap;
  /* margin: 7%;*/
}

.standard-links a:hover {
  color: green;
  transition: all 0.5s;
}
div.standard-links {
  justify-content: center;
}

.social-links {
  justify-content: right;
  width: 30%;
  display: flex;
  gap: 20px;
  margin-right: 20px;
  margin-top: 4px;
}

.social-links img:hover {
  transform: scale(1.6);
  filter: brightness(1.6);
  cursor: pointer;
}
.social-mobile {
  display: flex;
  background-color: rgba(38, 102, 92, 0.955);
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  margin-bottom: 10px;
  font-size: 50px;
  text-align: center;
  color: rgb(223, 218, 210);
  letter-spacing: 3px;
}

h2 {
  font-size: 30px;
  margin: 0;
  color: rgb(223, 218, 210);
  padding: 40px 20px 20px 20px;
  letter-spacing: 2px;
}

h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
  text-align: center;
}

h4 {
  display: inline;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: center;
  }
  .navbar a {
    font-size: 14px;
  }

  .navbar div img {
    display: none;
  }
  .card {
    width: 80%;
    flex-direction: column;
  }

  .card p {
    font-size: 20px;
  }
  .navbar ul {
    padding: 0px;
  }
  .social-mobile {
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    /*gap: 40px;*/
  }

  .standard-links {
    justify-items: center;
    gap: 20px;
  }

  .standard-links h4 {
    font-size: 10px;
    width: 80px;
    text-align: center;
  }
  .standard-links a {
    display: flex;
  }
  div.standard-links {
    display: flex;
  }
  .company-name h3 {
    font-size: 10px;
  }

  .social-links {
    display: none;
  }

  .company-name {
    display: none;
  }
}

@media (min-width: 769px) {
  .social-mobile {
    display: none;
  }
}

@media (min-width: 570px) {
  .social-mobile {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media only screen and (min-width: 1920px) {
  html {
    background-color: rgba(128, 128, 128, 0.3);
  }

  body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
  }
}
