html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: column;
}
main {
  flex: 1;
  background-color: rgba(34, 161, 142, 0.3);
}
.navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(100, 149, 237, 0.7);
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 20px;
}
.navbar a {
  text-decoration: none;
  color: black;
  transition: all 1s;
}

.navbar a:hover {
  color: green;
  transition: all 0.3s;
}
.navbar div img {
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin-right: 10px;
}
.hero {
  width: 100%;
  background-color: rgb(128, 128, 128, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.hero p {
  width: 30%;
  text-align: center;
  margin-bottom: 30px;
}
.hero img {
  width: 25%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 2px rgb(0, 0, 0, 0.5);
}

main div {
  justify-items: center;
  /*background-color: rgba(50, 194, 191, 0.5);*/
}

.projects {
  width: 100%;
  height: 100%;
  /* background-color: rgba(50, 194, 191, 0.5);*/
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 60px;
}

.projects p {
  font-size: 15px;
}

.card {
  width: 400px;
  height: 500px;
  background-color: beige;
  border: solid rgb(0, 0, 0, 0.5) 5px;
  border-radius: 15px;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 10px 10px 2px rgb(0, 0, 0, 0.2);
  transition: all 1s ease;
}

.card:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
  cursor: pointer;
}

.projects img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 30% 30%;
  border-radius: 15px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: cornflowerblue;
}

.company-name {
  justify-items: left;
  margin-left: 20px;
  width: 30%;
}
.standard-links {
  display: flex;
  width: 30%;
  gap: 50px;
}

.standard-links a {
  text-decoration: none;
  color: black;
  transition: all 1s;
}

.standard-links a:hover {
  color: green;
  transition: all 0.5s;
}

.social-links {
  justify-content: right;
  width: 30%;
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.social-links img:hover {
  transform: scale(1.6);
  filter: brightness(1.6);
  cursor: pointer;
}

h1 {
  margin-bottom: 10px;
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
}

h4 {
  display: inline;
}
