html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0px;

  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: column;
}
main {
  flex: 1;
}
.navbar {
  width: 100%;
  height: 50px;
  background-color: cornflowerblue;
  display: flex;
}
.navbar ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 20px;
}
.navbar a {
  text-decoration: none;
  color: black;
  transition: all 1s;
}

.navbar a:hover {
  color: green;
  transition: all 0.3s;
}

.hero {
  width: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.hero p {
  width: 30%;
  text-align: center;
  margin-bottom: 30px;
}
.hero img {
  width: 25%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 2px rgb(0, 0, 0, 0.5);
}

main div {
  justify-items: center;
}

.projects {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 60px;
}

.projects p {
  font-size: 15px;
}

.card {
  width: 400px;
  height: 500px;
  border: solid rgb(0, 0, 0, 0.5) 5px;
  border-radius: 15px;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 10px 10px 2px rgb(0, 0, 0, 0.2);
}

.projects img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 30% 30%;
  border-radius: 15px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: cornflowerblue;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 20px;
}
